<link href="css/pages/signin.css" rel="stylesheet" type="text/css">
		
<div class="account-container">
	
	<div class="content clearfix">
		
		
			<h1>Volunteer Login</h1>		
			
			<div class="login-fields">
				
				<p>Please provide your details</p>
				
				<div class="field">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" value="" placeholder="Username" class="login username-field" ng-model="user.mail" required />
				</div> <!-- /field -->
				
				<div class="field">
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" value="" placeholder="Password" class="login password-field" ng-model="user.pass" required/>
				</div> <!-- /password -->
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions">
				
				<span class="login-checkbox">
					<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
					<label class="choice" for="Field">Keep me signed in</label>
				</span>
									
				<button type="button" class="button btn btn-success btn-large" ng-click="login(user)" ng-disabled="form1.$invalid">Sign In</button>
				
			</div> <!-- .actions -->
			
			
			
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->

		
<!--		
			 <div class="bs-example">
<form role="form" name="form1">
  <div class="form-group">
  	<p>Welcome : <span>{{user.mail}}</span></p>
    <label for="exampleInputEmail1">Mail</label>
    <input type="text" placeholder="Enter name"  class="form-control" ng-model="user.mail" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" placeholder="Password" id="exampleInputPassword1" class="form-control" ng-model="user.pass" required>
  </div>
  <button class="btn btn-default" type="submit" ng-click="login(user)" ng-disabled="form1.$invalid">Submit</button>
  <p>{{msgtxt}}</p>
</form>
</div>

-->


