<div class="span6">
<div class="widget widget-nopad">
	<div class="widget">
		
		<div class="widget-header"> <i class="icon-file"></i>
		  <h3>Export Client Visits</h3>
		</div>
		<div class="widget-content">
			<form method="post" id="edit-profile" class="form-horizontal" action="php/export.php" target="_blank">
				<fieldset>		
					<br/>
					<div class="control-group">											
						<label class="control-label" for="from">From</label>
						<div class="controls">
							<input type="text" maxlength="0" class="span2" name="from" id="from">
						</div> 
					</div> 
					
					<div class="control-group">											
						<label class="control-label" for="to">To</label>
						<div class="controls">
							<input type="text" maxlength="0" class="span2" name="to" id="to">
						</div> 
					</div> 
					
					<br />
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary" id="button">Export</button> 
					</div>
				</fieldset>
				<input type="hidden" name="report" value="clientVisits" />
			</form>
		</div>		
	</div>
</div>
</div>
<div class="span6">
<div class="widget widget-nopad">
	<div class="widget">
		<div class="widget-header"> <i class="icon-file"></i>
		  <h3>Export Client Data</h3>
		</div>
			
		<!-- /widget-header -->
		<div class="widget-content">
			<form method="post" id="edit-profile" class="form-horizontal" action="php/export.php" target="_blank">
				<fieldset>		
					<br/>
                    <!--
					<div class="control-group">											
						<label class="control-label" for="from">From</label>
						<div class="controls">
							<input type="text" maxlength="10" class="span2" name="from" id="from">
						</div> 
					</div> 
					
					<div class="control-group">											
						<label class="control-label" for="to">To</label>
						<div class="controls">
							<input type="text" maxlength="10" class="span2" name="to" id="to">
						</div> 
					</div> 
					-->
					<br />
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary" id="button">Export</button> 
					</div>
				</fieldset>
				<input type="hidden" name="report" value="clientData" />
			</form>
		</div>
		<!-- /widget-content --> 
	</div>
</div>
</div>

<script>
  $(function() {
	
	$( "#from" ).datepicker({
      changeMonth: true,
      changeYear: true,
	  dateFormat: "yy-m-d"
    });
	
	$( "#to" ).datepicker({
      changeMonth: true,
      changeYear: true,
	  dateFormat: "yy-m-d"
    });
  });
</script>