
<div class="span12" ng-controller="searchController">
<div class="widget widget-nopad">
	<div class="widget">
		<div class="widget-header"> <i class="icon-search"></i>
		  <h3>Client Search</h3>
		</div>
		
		<!-- /widget-header -->
		<div class="widget-content">
			<form id="edit-profile" class="form-horizontal">
				<fieldset>	
					
					<div class="control-group">
						<table class="search">
							<tr>
								<td>First Name</td>
								<td>Last Name</td>
								<td>Client ID</label></td>
							</tr>
							<tr>
								<td><select class="span4"><option>Contains</option><option>Starts With</option></select></td>
								<td><select class="span4"><option>Contains</option><option>Starts With</option></select></td>
								<td><select class="span4"><option>Contains</option><option>Starts With</option></select></td>
							</tr>
							<tr>
								<td><input type="text" class="span3" id="firstname" ng-model="fname"></td>
								<td><input type="text" class="span3" id="lname" ng-model="lname"></td>
								<td><input type="text" class="span3" id="clientID" ng-model="clientID"></td>
							</tr>
						</table>										
					</div> <!-- /control-group -->
						
					<div class="form-actions alignRight">
						<button type="submit" class="btn btn-primary" ng-click="search()">Search</button> 
					</div> <!-- /form-actions -->
				</fieldset>
			</form>
		</div>
		<!-- /widget-content --> 
	</div>
</div>	
<div class="widget widget-table action-table">
	<div class="widget-header"> <i class="icon-th-list"></i>
	  <h3>Clients</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content">
	  <table class="table table-striped table-bordered">
		<thead>
		  <tr>
			<th>Client ID#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Address</th>
			<th>Phone</th>
			<th># In House</th>
			<th class="td-actions"> </th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="client in clients" ng-show="clients.length">
			<td>{{ client.id }}</td>
			<td>{{ client.fname }}</td>
			<td>{{ client.lname }}</td>
			<td>{{ client.address }}</td>
			<td>{{ client.phone }}</td>
			<td>{{ client.inhouse }}</td>

			<td class="td-actions">
				<a ng-href="#/edit/{{client.id}}" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a>
				<a href="" id="{{ client.id }}" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a>
			</td>
		  </tr>	
		  <tr ng-show="!clients.length"><td colspan="7" class="centerText">No records found</td></tr>
		</tbody>
	  </table>
	</div>
	<!-- /widget-content --> 
	
</div>	
</div>	



<style>
    body { font-size: 62.5%; }
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
  </style>
<div class="dialog-confirm" title="Delete record?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>The client will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
<script>
$(function() {
    $( ".dialog-confirm" ).dialog({
	  autoOpen: false,
      resizable: false,
      height:140,
      modal: true,
      buttons: {
        "Delete all items": function() { 
		
			var id = $(this).attr('id');
		
			console.log(id);
			
			window.location.replace('#/add');
        },
        Cancel: function() {
			$(this).dialog('close');
        }
      }
    });
	
	$(".table tbody").on("click", "tr .btn-danger", function(e){
		$('.dialog-confirm').attr('id', $(this).attr('id'));
		$('.dialog-confirm').dialog('open');
	});
	
});
</script>