<div class="widget widget-nopad">
          <div class="widget">
            <div class="widget-header"> <i class="icon-search"></i>
              <h3>Client Search</h3>
            </div>
			
            <!-- /widget-header -->
            <div class="widget-content">
				<form id="edit-profile" class="form-horizontal">
					<fieldset>
						
						<br/>
						
						
						<div class="control-group">											
							<label class="control-label" for="firstname">First Name</label>
							<div class="controls">
								<input type="text" class="span6" id="firstname" value="John">
							</div> <!-- /controls -->				
						</div> <!-- /control-group -->
						
						
						<div class="control-group">											
							<label class="control-label" for="lastname">Last Name</label>
							<div class="controls">
								<input type="text" class="span6" id="lastname" value="Donga">
							</div> <!-- /controls -->				
						</div> <!-- /control-group -->
						
						
						
							
						 <br />
						
							
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Save</button> 
							<button class="btn">Cancel</button>
						</div> <!-- /form-actions -->
					</fieldset>
				</form>
            </div>
            <!-- /widget-content --> 
          </div>
       </div>	