<div class="span12" ng-controller="volunteerController">
<div class="widget widget-table action-table">
	<div class="widget-header"> <i class="icon-plus-sign"></i>
	  <h3>Add Volunteer</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content">
		<form id="edit-profile" class="form-horizontal">
				<fieldset>
					
					<br/>		
					
					<div class="control-group relative" style="float:left;">											
						<label class="control-label" for="volunteer">Full Name</label>
						<div class="controls">
							<input type="text" class="span4" id="volunteer" ng-model="volunteer">
						</div> <!-- /controls -->		
					</div> <!-- /control-group -->
					
					<div class="control-group relative" style="float:right;margin-right:10px;">											
						<label class="control-label" for="active">Active</label>
						<div class="controls">
							<select id="active" class="span4" ng-model="active">
								<option value="Y">Yes</option>
								<option value="N">No</option>
							</select>
						</div> <!-- /controls -->		
					</div> <!-- /control-group -->
					<br/>
					<div class="form-actions" style="text-align:right;">
						<button type="submit" class="btn btn-primary" ng-click="insert()">Save</button> 
					</div> <!-- /form-actions -->				
				</fieldset>
			</form>
	</div>
	<!-- /widget-content --> 	
</div>	

<div class="widget widget-table action-table">
	<div class="widget-header"> <i class="icon-th-list"></i>
	  <h3>Volunteers</h3>
	  
	</div>
	<!-- /widget-header -->
	<div class="widget-content">
		<form id="edit-profile" class="form-horizontal">
		  <table class="table table-striped table-bordered">
			<thead>
			  <tr>
				<th>ID</th>
				<th>Volunteer</th>
				<th>Active</th>
				<th class="td-actions"> </th>
                <th class="td-actions"> </th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="volunteer in volunteers" ng-show="volunteers.length">
				<td>{{ volunteer.id }}</td>
				<td>{{ volunteer.volunteer }}</td>
				<td>{{ volunteer.active }}</td>
				<td class="td-actions"><button type="submit" class="btn btn-primary" ng-click="toggle(volunteer.id, volunteer.active)">Change</button></td>
				<td class="td-actions"><a href="" class="btn btn-danger btn-small" ng-click="deleteVolunteer(volunteer.id)"><i class="btn-icon-only icon-remove"> </i></a></td>
			  </tr>	
			  <tr ng-show="!volunteers.length"><td colspan="7" class="centerText">No records found</td></tr>
			</tbody>
		  </table>
	  </form>
	</div>
	<!-- /widget-content --> 	
</div>	
</div>